[Desktop Entry]
Encoding=UTF-8
Name=Parcelcoin
Comment=Parcelcoin P2P Cryptocurrency
Comment[fr]=Parcelcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Parcelcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/parcelcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/parcelcoin128.png
MimeType=x-scheme-handler/parcelcoin;
Categories=Office;
