#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_parcelcoin
#build/parcelcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_parcelcoin)

DEB_INSTALL_EXAMPLES_parcelcoind += debian/examples/*
DEB_INSTALL_MANPAGES_parcelcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix parcelcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f parcelcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake parcelcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_parcelcoin
	src/test_parcelcoin

# Ensure wrapper is set executable
binary-post-install/parcelcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/parcelcoind
binary-post-install/parcelcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/parcelcoin-qt
